{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
    <div class="container mt-5 justify-content-center"> 
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
            </ol>
        </nav>
    
    <figure class="figure">
        <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(45).webp"
            class="figure-img img-fluid rounded shadow-3 mb-3"
            alt="Taking up Water with a Spoon"
        />
    </figure>
    <h1 class="red">{{article.title}}</h1>
    <h3>{{article.createdAt|date('d-m-Y')}}</h3>
    <p>{{article.content}}</p>
    </div>
{% endblock %}